<!DOCTYPE html>
<html>
  <head>
    <title>MeeHat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-300">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="app-container">
        <%= yield %>
    </div>
  </body>
</html>
